
.navigation-menu {
	display: flex;
	flex-direction: column;
	min-width: 407px;
	width: 407px;
	background-color: white;
	overflow: hidden;
	border-left: 3px solid #f5f5f5;
	border-right: 3px solid #f5f5f5;
}

